body{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin:0px;
    font-family:"Caveat Brush", sans-serif;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color:rgb(255, 255, 255);
}

section{
    background: skyblue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}